<div id="dropdownMenu" class="text-[#E3C776] absolute right-4 top-full hidden bg-[#243D5E] rounded-xl shadow-xl mt-2 p-2 space-y-1">

  <a href="../../mainMenu/help.html" 
     id="menu-instructions"
     class="border-b-4 border-black block px-4 py-2 rounded-lg hover:bg-white/20 z-40">
     Instruktioner
    </a>


  <a href="../../apps/leaderboard/leaderboard.html"
     class="border-b-4 border-black block px-4 py-2 rounded-lg hover:bg-white/20">
     Topplista
  </a>

  <a href="../../mainMenu/menu.html"
     class="border-b-4 border-black block px-4 py-2 rounded-lg hover:bg-white/20">
     Huvudmeny
  </a>

  <a href="../../mainMenu/information.html"
     class="border-b-4 border-black block px-4 py-2 rounded-lg hover:bg-white/20">
     Information
  </a>

  <a href="../../mainMenu/development.html"
     class="border-b-4 border-black block px-4 py-2 rounded-lg hover:bg-white/20">
     Utvecklingsteam
  </a>

</div>
